/* site wide CSS */

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

/* Navbar */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(98, 54, 219, 0.7);
}

.nav-extended .nav-wrapper .brand-logo img {
    height: 64px;
}

ul.dropdown-content li i span {
    color: #000;
}