{% extends "base.html" %} {% block content %}
<br>
<a href="{{ url_for('get_questions') }}"><img class="logo-size" src="{{ url_for ('static', filename='images/pros_and_cons_logo.png') }}" alt="Pros and Cons Logo"></a>
<h1>Ug! This sucks! - 5 0 0</h1>
<p>Too much work and too little server power to do it in:</small>
<p>You just got a 500 and that means that someone, somewhere probably needs to give more power, much more power to the servers that drive this beast of a page.</p>
    <p>There's a couple of fine options from here.</p>
<p>1) You can try again repeatedly. I'd definitely do that, that one seems like the most likely best thing to try, or....</p>
<p>2) Maybe the entire internet is down everywhere? It might not just be you, or...</p>
<p>3) Actually, it is you, it's not me, it is definitely you. It could be me, but I think it is you. Yes, definitely you, or...</p>
<p>4) You can always just go <a href="{{ url_for('get_questions') }}">home <i class="fas fa-home grey-text text-darken-4"></i></a>, but don't expect miracles, 
    I didn't pay the electricity bill this month.</p>

<p>Thank you for discovering this page, it's bizarre that this one works but the one you were looking for doesn't. It's like the battery-nearly-dead signal from old phones. 
    My phone would last about 15% longer if it didn't need to blip every 10 seconds to tell me it was going flat. But, in this case, something really must be wrong. 
Not to panic you or anything....</p>
<p>But have aliens landed?</p>
<p>I heard that these sorts of things often occur during alien landings because their spacecraft interfere with the internet. I was told this by the Elders of the Internet.</p>
<p>You can always make sure. If it is night, turn off all the lights in your room, don't make a sound, slowly open a curtain and look outside. If the world is ablaze and lots of 
    peow peow sounds are occurring, this is bad. Like, really bad. But this is also why you got a 500 error. At least now we know. 
</p>

{% endblock %}