/* site wide CSS */

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
.screen {
    min-height: 100vh;
    margin: 0;
}

.flex-grow-4 {
    flex-grow: 4;
}

.p_and_c-font {
    font-family: 'Bowlby One', sans-serif;
    color: #007fff;
    font-size: 30px;
}


/* login-page */

.bg-home {
    background-color: #ededed;
}

.bg-form {
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 3px 3px 5px 6px #ccc;
}


/* test css linkage */

.color-blue {
    background-color: blue;
}

.color-green {
    background-color: green;
}

.color-yellow {
    background-color: yellow;
}