{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken 4">
                Edit Your Profile
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s2">
        <div class="card-panel card-size">
            <span class="left-align light-blue-text text-darken 4">
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel teal">
                <div class="white-text">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6 m8">
                                    <i class="far fa-user prefix"></i>
                                    <input id="fname" name="fname" type="text" class="validate">
                                    <label for="fname">First Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m8">
                                    <i class="far fa-user prefix"></i>
                                    <input id="lname" name="lname" type="text" class="validate">
                                    <label for="lname">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m8">
                                    <i class="fas fa-birthday-cake prefix"></i>
                                    <input id="bday" name="bday" type="text" class="datepicker">
                                    <label for="bday">Birthdate</label>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <span>
                            <label>
                              <input class="with-gap" name="female" type="radio" />
                              <span>Female</span>
                            </label>
                          </span>
                          <span>
                            <label>
                              <input class="with-gap" name="male" type="radio" />
                              <span>male</span>
                            </label>
                          </span>
                          <span>
                            <label>
                              <input class="with-gap" name="non-binary" type="radio"  />
                              <span>non-binary</span>
                            </label>
                          </span>
                          <span>
                            <label>
                              <input class="with-gap" name="no_say" type="radio"  />
                              <span>Prefer not to say</span>
                            </label>
                          </span>
                    </div>
                    <button class="btn red center" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}