{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey lighten-5">
            <h3 class="center-align light-blue-text text-darken 4">
                {{ profile.username }} - Edit Your Profile
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s2">
        <div class="card-panel grey lighten-5 card-size">
            <a href="{{ url_for('profile', username=session['user']) }}"><span class="left-align light-blue-text text-darken 4">
                {% if profile.sex == "female" %} 
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/female.png') }}" alt="Profile Pic">
                {% elif profile.sex =="male" %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/male.png') }}" alt="Profile Pic">
                {% elif profile.sex =="non-binary" %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/non-binary.png') }}" alt="Profile Pic">
                {% elif profile.sex =="no-say" %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                {% else %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                {% endif %}
               
            </span></a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel grey lighten-5">
                <div class="white-text">
                    <form class="col s12" method="POST" action="{{ url_for('edit_profile') }}">
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6 m8">
                                    <i class="far fa-user prefix light-blue-text text-darken-1"></i>
                                    <input id="fname" name="fname" type="text" class="validate" minlength="3" maxlength="25" value="{{ profile.fname }}">
                                    <label for="fname">First Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m8">
                                    <i class="far fa-user prefix light-blue-text text-darken-1"></i>
                                    <input id="lname" name="lname" type="text" class="validate" minlength="2" maxlength="25" value="{{ profile.lname }}">
                                    <label for="lname">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m8">
                                    <i class="fas fa-birthday-cake prefix light-blue-text text-darken-1"></i>
                                    <input id="bday" name="bday" type="text" class="datepicker validate" value="{{ profile.bday }}">
                                    <label for="bday">Birthdate</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m8 dropdown-content_country">
                                <i class="fas fa-globe-asia prefix light-blue-text text-darken-1"></i>
                                <select name="country" id="country">
                                {% for country in countries %}
                                {% if profile.country == country.name %}
                                <option value="{{ country.name }}" selected>{{ country.name }}</option>
                                {% else %}
                                <option value="{{ country.name }}">{{ country.name }}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                                <select name="state" id="state">
                                {% for country in countries %}
                                {% for state in country.states %}
                                {% if profile.state == state.name %}
                                <option value="{{ state.name }}" selected>{{ state.name }}</option>
                                {% else %}
                                <option value="{{ state.name }}">{{ state.name }}</option>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col sm-2"><span>
                                <label>
                                    {% if profile.sex == "female" %} 
                                    <input class="with-gap" name="sex" id="female" value="female" type="radio" checked />
                                    {% else %}
                                    <input class="with-gap" name="sex" id="female" value="female" type="radio" />
                                    {% endif %}
                                    <span>Female</span>
                                </label>
                                </span>
                            </div>
                            <div class="col sm-2"><span>
                                <label>
                                    {% if profile.sex == "male" %}
                                    <input class="with-gap" name="sex" id="male" value="male" type="radio" checked />
                                    {% else %}
                                    <input class="with-gap" name="sex" id="male" value="male" type="radio" />
                                    {% endif %}
                                    <span>male</span>
                                </label>
                                </span>
                            </div>
                            <div class="col sm-2"><span>
                                <label>
                                    {% if profile.sex == "non-binary" %}
                                    <input class="with-gap" name="sex" id="non-binary" value="non-binary" type="radio" checked />
                                    {% else %}
                                    <input class="with-gap" name="sex" id="non-binary" value="non-binary" type="radio" />
                                    {% endif %}
                                    <span>non-binary</span>
                                </label>
                                </span>
                            </div>
                            <div class="col sm-2"><span>
                                <label>
                                    {% if profile.sex == "no-say" %}
                                    <input class="with-gap" name="sex" id="no-say" value="no-say" type="radio" checked />
                                    {% elif profile.sex == "female" %}
                                    <input class="with-gap" name="sex" id="no-say" value="no-say" type="radio" />
                                    {% elif profile.sex == "male" %}
                                    <input class="with-gap" name="sex" id="no-say" value="no-say" type="radio" />
                                    {% elif profile.sex == "non-binary" %}
                                    <input class="with-gap" name="sex" id="no-say" value="no-say" type="radio" />
                                    {% else %}
                                    <input class="with-gap" name="sex" id="no-say" value="no-say" type="radio" checked />
                                    {% endif %}
                                    <span>Prefer not to say</span>
                                </label>
                                </span>
                            </div>
                        </div>
                        <button class="btn red" type="submit">Submit</button>
                    </form><br>
                    <small class="grey-text text-darken-3">Note: All these fields are optional, you are not required to
                        fill in any details. At Pros and Cons, we will never share your information with anyone. Ever!
                    </small>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    let countries = {{ countries | tojson }}
</script>
<script src="{{ url_for ( 'static', filename='scripts/country.js' ) }} "></script>
{% endblock %}