{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey lighten-5">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s2">
        <div class="card-panel card-size grey lighten-5">
            <span class="left-align light-blue-text text-darken 4">
                {% if profile.sex == "female" %} 
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/female.png') }}" alt="Profile Pic">
                {% elif profile.sex =="male" %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/male.png') }}" alt="Profile Pic">
                {% elif profile.sex =="non-binary" %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/non-binary.png') }}" alt="Profile Pic">
                {% elif profile.sex =="no-say" %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                {% else %}
                <img class="profile-pic-size" src="{{ url_for ('static', filename='images/profile_picsquestion-mark.png') }}" alt="Profile Pic">
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel grey lighten-5">
                <div class="light-blue-text text-darken-4">
                    <a href="{{ url_for ('edit_profile') }}"><span><i class="fas fa-user-edit right icon-size"></i></span></a>
                    <p>Name: {% if profile.fname is defined %} {{ profile.fname }} {% else %} - {% endif %} 
                        {% if profile.lname is defined %} {{ profile.lname }} {% else %} - {% endif %} </p>
                    <p>City: {% if profile.city is defined %} {{ profile.city }} {% else %} - {% endif %} </p>
                    <p>Country: {% if profile.country is defined %} {{ profile.country }} {% else %} - {% endif %}</p>
                    <p>Birthday: {% if profile.bday is defined %} {{ profile.bday }} {% else %} - {% endif %}</p>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}