{% extends "base.html" %} {% block content %}
{% if profiles.count() > 0 %} 
{% for profiles in profiles if profiles.username != user.username %}

<ul class="collapsible">
    <li>
        <div class="collapsible-header teal lighten-5">
            <!-- Profile Username-->
            <i class="fas fa-chevron-circle-down blue-text text-darken-3"></i>
            <a href="{{ url_for('view_profile', profile=profiles.username) }}"><strong>{{ profiles.username }}</strong></a>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s2">
                    <div class="card-panel card-size grey lighten-5">
                        <span class="left-align light-blue-text text-darken 4">
                            {% if profiles.sex == "female" %} 
                            <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/female.png') }}" alt="Profile Pic">
                            {% elif profiles.sex =="male" %}
                            <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/male.png') }}" alt="Profile Pic">
                            {% elif profiles.sex =="non-binary" %}
                            <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/non-binary.png') }}" alt="Profile Pic">
                            {% elif profiles.sex =="no-say" %}
                            <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                            {% else %}
                            <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8">
                        <div class="card-panel grey lighten-5">
                            <div class="light-blue-text text-darken-4">
                            {% for friend in friends %}
                            {% if profiles.username == friend %}
                            <span><i class="fas fa-user-check icon-size tooltipped right" data-position="bottom" data-tooltip="Friends"></i></span>    
                            {% endif %}
                            {% endfor %}
                            {% for sent_request in requested %}
                            {% if profiles.username == sent_request %}
                            <span><i class="far fa-pause-circle icon-size tooltipped right" data-position="bottom" data-tooltip="Pending request"></i></span>
                            {% endif %}
                            {% endfor %}
                            {% for received_request in requested_to %}
                            {% if profiles.username == received_request %}
                                <form method="POST" action="{{ url_for('friend_requests', user=user._id, action='accept_friend') }}" class="form-inline">
                                    <button class="right margin-left btn-floating btn-small no-shadow waves-effect waves-light blue-grey lighten-4 grow" type="submit" name="accept" value="{{profiles.username}}">
                                    <i class="fas fa-user-check icon-size tooltipped grey-text text-darken-4" data-position="bottom" data-tooltip="Accept friend request"></i>
                                    </button>
                            </form>
                            <form method="POST" action="{{ url_for('friend_requests', user=user._id, action='decline_friend') }}" class="form-inline">
                                <button class="right btn-floating btn-small no-shadow waves-effect waves-light blue-grey lighten-4 grow" type="submit" name="decline" value="{{profiles.username}}">
                                <i class="fas fa-skull-crossbones icon-size tooltipped grey-text text-darken-4" data-position="bottom" data-tooltip="Decline friend request"></i>
                                </button>
                            </form>
                            {% endif %}
                            {% endfor%}
                            {% for send_request in result_list %}
                            {% if send_request[0] == profiles.username and send_request[1] == False %}
                            <form method="POST" action="{{ url_for('add_friend', profile=profiles.username) }}">
                                <button type="submit" class="right btn-floating btn-small no-shadow waves-effect waves-light blue-grey lighten-4 grow" id="friends">
                                    <span><i class="fas fa-user-plus icon-size tooltipped grey-text text-darken-4" data-position="bottom" data-tooltip="Add Friend"></i></span>
                                </button>
                            </form>
                            {% endif %}
                            {% endfor %}
                            <p><i class="far fa-user prefix light-blue-text text-darken-1"></i> 
                                Name: {% if profiles.fname != None %} {{ profiles.fname }} 
                                {% else %} - 
                                {% endif %} 
                                {% if profiles.lname != None %} 
                                {{ profiles.lname }} 
                                {% else %} - 
                                {% endif %} </p>
                            <p><i class="fas fa-globe-asia prefix light-blue-text text-darken-1"></i> Country: {% if profiles.country != None %} {{ profiles.country }} 
                                {% else %} - 
                                {% endif %}</p>
                            <p><i class="fas fa-thumbtack prefix light-blue-text text-darken-1"></i> State: {% if profiles.state != None %} {{ profiles.state }} 
                                {% else %} - 
                                {% endif %} </p>
                            <p><i class="fas fa-birthday-cake prefix light-blue-text text-darken-1"></i> Birthday: {% if profiles.bday != None %} {{ profiles.bday }} 
                                {% else %} - 
                                {% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </li>
    {% endfor %}
</ul>
<!-- Search Profiles -->
<div class="row card-panel grey lighten-5">
    <p>Try again?</p>
    <form action="{{ url_for('search_profiles') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix blue-text text-darken-3"></i>
                <input type="text" name="search_profiles" id="search_profiles" minlength="3" class="validate" required>
                <label for="search_profiles">Search names, city, states or country</label>
            </div>
            <div class="col s12 m4">
                <a href="#!" class="red btn">Reset</a>
                <button type="submit" class="light-blue darken-1 btn">
                                <i class="fas fa-search left"></i> Search
                            </button>
            </div>
        </div>
    </form>
</div>
{% else %}
<h3>No profiles found matching that description</h3>
<p>Try again?</p>
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search_profiles') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix blue-text text-darken-3"></i>
                <input type="text" name="search_profiles" id="search_profiles" minlength="3" class="validate" required>
                <label for="search_profiles">Search names, city, states or country</label>
            </div>
            <div class="col s12 m4">
                <a href="#!" class="red btn">Reset</a>
                <button type="submit" class="light-blue darken-1 btn">
                <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %} 
{% endblock %}