{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey lighten-5">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ profile.username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s2">
        <div class="card-panel card-size grey lighten-5">
            <span class="left-align light-blue-text text-darken 4">
                {% if profile.sex == "female" %} 
                <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/female.png') }}" alt="Profile Pic">
                {% elif profile.sex =="male" %}
                <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/male.png') }}" alt="Profile Pic">
                {% elif profile.sex =="non-binary" %}
                <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/non-binary.png') }}" alt="Profile Pic">
                {% elif profile.sex =="no-say" %}
                <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                {% else %}
                <img class="profile-pic-size responsive-img" src="{{ url_for ('static', filename='images/profile_pics/question-mark.png') }}" alt="Profile Pic">
                {% endif %}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel grey lighten-5">
                <div class="light-blue-text text-darken-4">
                    {% if user is defined %}
                    {% if friends != None %}
                    <span><i class="fas fa-user-check icon-size tooltipped right" data-position="bottom" data-tooltip="Friends"></i></span>
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#{{ profile.username }}"><i class="fas fa-user-minus icon-size blue-text text-darken-3 tooltipped" data-position="bottom" data-tooltip="Remove friendship"></i></a>
                    <!-- Modal for removing friends -->
                    <div id="{{ profile.username }}" class="modal">
                        <div class="modal-content">
                            <h4>Warning - You're about to remove your friendship with {{ profile.username }}</h4>
                            <p>Are you sure you want to do this? Click "Remove" to unfriend or "Cancel" to return to the profile page.</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST" action="{{ url_for('remove_friend', profile=profile.username) }}">
                                <a href="#!" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                                <button id="remove" name="remove" type="submit" class="modal-close btn-small red darken-4 tooltipped" data-position="bottom" data-tooltip="Unfriend this user">Remove</button>
                                </button>        
                            </form>
                        </div>
                    </div>
                    {% elif pending_request.friend_request_from == profile.username and pending_request.friend_request_to == session.user %}
                        <form method="POST" action="{{ url_for('friend_requests', user=user_id._id, action='accept_friend') }}" class="form-inline">
                            <button class="right margin-left btn-floating btn-small no-shadow waves-effect waves-light blue-grey lighten-4 grow" type="submit" name="accept" value="{{profile.username}}">
                                <i class="fas fa-user-check icon-size tooltipped grey-text text-darken-4" data-position="bottom" data-tooltip="Accept friend request"></i>
                            </button>
                        </form>
                        <form method="POST" action="{{ url_for('friend_requests', user=user_id._id, action='decline_friend') }}" class="form-inline">
                            <button class="right btn-floating btn-small no-shadow waves-effect waves-light blue-grey lighten-4 grow" type="submit" name="decline" value="{{profile.username}}">
                                <i class="fas fa-skull-crossbones icon-size tooltipped grey-text text-darken-4" data-position="bottom" data-tooltip="Decline friend request"></i>
                            </button>
                        </form>
                    {% elif pending_request != None %} 
                    <span><i class="far fa-pause-circle icon-size tooltipped right" data-position="bottom" data-tooltip="Pending request"></i></span>
                    {% else %}
                    <form method="POST" action="{{ url_for('add_friend', profile=profile.username) }}">
                        <button type="submit" class="right btn-floating btn-small no-shadow waves-effect waves-light blue-grey lighten-4 grow" id="friends">
                            <span><i class="fas fa-user-plus icon-size tooltipped grey-text text-darken-4" data-position="bottom" data-tooltip="Add Friend"></i></span>
                        </button>
                    </form>
                    {% endif %}
                    {% endif %}
                    <p class="blue-grey-text"><i class="far fa-user prefix blue-grey-text text-darken-2"> Name: </i> {% if profile.fname != None %} {{ profile.fname }} {% else %} Not known {% endif %} 
                        {% if profile.lname != None %} {{ profile.lname }} {% else %} {% endif %} </p>
                    <p class="blue-grey-text"><i class="fas fa-globe-asia prefix blue-grey-text text-darken-2"> Country: </i> {% if profile.country != None %} {{ profile.country }} {% else %} Not known {% endif %}</p>
                    <p class="blue-grey-text"><i class="fas fa-thumbtack prefix blue-grey-text text-darken-2"> State: </i> {% if profile.state != None %} {{ profile.state }} {% else %} - {% endif %} </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Search function if returning results -->
{% if user is defined %}
{% if questions|length > 0 %}
<!-- All questions unsorted -->
<ul class="collapsible">
    {% for question in questions %}
    {% if question.is_friends == "off" or (question.is_friends == "on" and friends != None) or user == admin %}
    <li>
        <div class="collapsible-header teal lighten-5">
            <!-- Question Title-->
            <i class="fas fa-chevron-circle-down blue-text text-darken-3"></i>
            <strong><a href="{{ url_for('view_question', question_id=question._id) }}">{{question.question_title }}</a></strong>
        </div>
        <div class="collapsible-body teal lighten-4">
            <!-- Question Text-->
            <div class="row">
                <div class="col s12 grey lighten-5 z-depth-1">
                    <p>{{ question.question_text }}</p>
                </div>
            </div>
            <div class="row teal lighten-4">
                <div class="col s12 m6">
                    <!-- Pro card -->
                    <div class="card grey lighten-5">
                        <div class="card-content grey-text text-darken-4">
                            <span class="card-title center-align">Pros</span>
                            {% for pro in question.pros %}
                            <p><i class="fas fa-circle point-size "></i> {{ pro.pro }} - <a href="{{ url_for('view_profile', profile=pro.user) }}"><span>{{ pro.user }}</a></span></p>
                            {% endfor %}
                            {% if session.user and question.finished is false %}
                            <form method="POST" action="{{ url_for('pros', question_id=question._id) }}">
                            <i
                                  class="fas fa-user-edit prefix blue-text text-darken-3 tooltipped"
                                  data-position="bottom"
                                  data-tooltip="Add a pro to this discussion"></i>
                                <input
                                  id="pro"
                                  name="pro"
                                  minlength="4"
                                  maxlength="250"
                                  type="text"
                                  class="validate"
                                  required/>
                                <label for="question_title">Add a pro here</label>
                                <button
                                class="btn-small right blue darken-3 waves-effect waves-light"
                                type="submit">
                                Submit
                                <i class="fas fa-paper-plane right"></i>
                                </button>
                            </form>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <!-- Con card -->
                    <div class="card grey lighten-5">
                        <div class="card-content grey-text text-darken-4">
                            <span class="card-title center-align">Cons</span>
                            {% for con in question.cons %}
                            <p><i class="fas fa-circle point-size "></i> {{ con.con }} - <a href="{{ url_for('view_profile', profile=con.user) }}"><span>{{ con.user }}</a></span></p>
                            {% endfor %}
                            {% if session.user and question.finished is false %}
                            <form method="POST" action="{{ url_for('cons', question_id=question._id) }}">
                            <i
                                  class="fas fa-user-edit prefix blue-text text-darken-3 tooltipped"
                                  data-position="bottom"
                                  data-tooltip="Add a con to this discussion"></i>
                                <input
                                  id="con"
                                  name="con"
                                  minlength="4"
                                  maxlength="250"
                                  type="text"
                                  class="validate"
                                  required/>
                                <label for="question_title">Add a con here</label>
                                <button
                                class="btn-small right blue darken-3 waves-effect waves-light"
                                type="submit">
                                Submit
                                <i class="fas fa-paper-plane right"></i>
                                </button>
                            </form>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"><!-- pros and cons end div -->
                <span><em>Question asked by: <a href="{{ url_for('view_profile', profile=question.created_by) }}">{{ question.created_by }}</a>
                    {% if question.edited_on is defined %} and was added on: {{ question.added_on }} then edited on: {{ question.edited_on }}
                    {% else %} and was added on: {{ question.added_on }} {% endif %}</em></span><br>
                    {% if question.finished is true %}
                    <span><em>Question is closed for further comments</em></span>
                    {% endif %}
            </div>
            <div class="row">
                {% if question.is_friends == "on" %}
                <i class="fas fa-user-friends blue-text text-darken-3 tooltipped" data-position="bottom" data-tooltip="Only friends can view this"></i> {% else %}
                <i class="fas fa-globe-americas blue-text text-darken-3 tooltipped" data-position="bottom" data-tooltip="Anyone can view this"></i> {% endif %} {% if session.user|lower == question.created_by|lower or session.user == admin %}
                <div class="right">
                    <a href="" class="btn-small button-size green accent-4 tooltipped" data-position="bottom" data-tooltip="Close question for any more commenting">
                    Finish</a>
                    <a href="{{ url_for('edit_question', question_id=question._id) }}" class="btn-small button-size light-blue lighten-1 tooltipped" data-position="bottom" data-tooltip="Edit your question">
                    Edit</a>
                    <button data-target="{{ question._id }}" class="btn-small button-size red darken-4 tooltipped modal-trigger" data-position="bottom" data-tooltip="Delete your question">
                    Delete</button>
                </div>
                {% endif %}
            </div>
    </li>

    <!-- Modal for Deleting Questions -->
    <div id="{{ question._id }}" class="modal">
        <div class="modal-content">
            <h4>Warning - You're about to delete your question!</h4>
            <p>Are you sure you want to do this? Click "Delete" to delete your question or "Cancel" to return to the questions page.</p>
        </div>
        <div class="modal-footer">
            <form method="POST" action="{{ url_for('delete_question', question_id=question._id) }}">
                <a href="#!" class="modal-close waves-effect waves-green btn-small">Cancel</a>
            <button id="delete" type="submit" class="modal-close btn-small red darken-4 tooltipped" data-position="bottom" data-tooltip="Delete your question">Delete</button>
            </form>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</ul>
{% else %}
<h3 class="red-text text-darken-3 center-align">No questions available from this user at the moment</h3>
{% endif %}
{% endif %} 
{% endblock %}